body{
    background-color: antiquewhite;
}

ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
}

ul li{
    /* border: 1px solid blue; */
    padding: 2rem;
}

ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-family: sans-serif;
}

ul li a:hover{
    color: brown;
}

li.active{
    background-color: bisque;
}