body {
    background-color: antiquewhite;
}

u{
    color: black
}

.kontejner{
    border-radius: 10px;
    border-style: hidden;
    padding: 1rem;
    background-color: white;
}

input {
    width: 97%;
    padding: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

button {
    margin-top: auto;
    background-color: green;
    color: white;
    display: block;
    padding: 15px;
    border-radius: 3px;
    border-style: hidden;
}