:root{
    --primarna-boja: gainsboro;
    --pozadina: #f3f3f3;
    --pozadina-container: #fcfcfc;
}

body{
    background-color: gainsboro;
}

.container{
    width: 50%;
    margin: auto;
    outline-style: double;
    outline-width: 5px;
    border-radius: 5px;
    outline-color: var(--primarna-boja);
    background-color: var(--pozadina-container);
    padding: 2rem;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(22, 5, 112);
    text-align: center;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration: underline; 
    text-decoration-color: orange;
    text-underline-offset: 10px;    
}

.marker{
    background-color: rgb(236, 201, 136);
}

.slika{
    text-align: center;
}